{% extends 'index.html' %}

{% block content %}
    <h1>{% block title %} {{ title }} {% endblock %}</h1>
    <br>
    <section class="container">
      <div class="row">
         <div class="col">
            <form action="" method="post">
               <p>
                  {{ form.username.label }}<br>
                  {{ form.username(size =32) }}
               </p>
               <p>
                  {{ form.password.label }}<br>
                  {{ form.password(size=32) }}
               </p>
               <p>{{ form.submit(class_='btn btn-secondary') }}</p>
            </form>
         </div>
      </div>
   </section>
    
   
{% endblock %}