{% extends 'index.html' %}

{% block content %}
    <h1>{% block title %} {{ title }} {% endblock %}</h1>
    <br>
    <form>
        <div class="form-group">
          <label for="email">E-mail address</label>
            <input type="email" class="form-control" id="email" required>
        </div>
        <br>
        <div class="form-group">
            <label for="login">Username</label>
              <input type="user" class="form-control" id="login" required>
            <small id="emailHelp" class="form-text text-muted">You will later use this username to log in.</small>
          </div>
        <br>
        <div class="form-group">
            <label for="pwd">Password</label>
            <input type="password" class="form-control" id="pwd" required>
            <small id="emailHelp" class="form-text text-muted">Choose a secure password.</small>
        </div>
        <br>
        <button type="submit" class="btn btn-secondary">Sign up</button>
    </form>
    
   
{% endblock %}